
<div *ngIf="!editNote">
  <button class="btn btn-success btn-block" (click)="onEditClick()">Edit</button>
  <h3>{{note.title}}</h3>
  <div>
    <img [src]="note.imageUrl | safe"/>
  </div>
  <p>{{note.description}}
  </p>
</div>

<div *ngIf="editNote">
  <form>
    <div class="form-group">
      <input type="input" class="form-control" name="title" required placeholder="Title" [(ngModel)]="note.title">
    </div>
    <div class="form-group">
      <input type="input" class="form-control" name="imgUrl" required placeholder="url" [(ngModel)]="note.imageUrl">
    </div>
    <div class="form-group">
      <textarea type="input" class="form-control" rows="5" name="description" required placeholder="description" [(ngModel)]="note.description"></textarea>
    </div>
    <button type="button" (click)="updateNote()" class="btn btn-primary">Update</button>
    <button type="button" (click)="deleteNote()" class="btn btn-primary">Delete</button>
  </form>
</div>

